---
k8s_minor: "1.30"
k8s_version: "1.30.0"

pod_cidr: "192.168.0.0/16"
service_cidr: "10.96.0.0/12"
cluster_dns_domain: cluster.local

control_plane_endpoint: "10.0.0.11:6443"
cri_socket: "unix:///run/containerd/containerd.sock"

calico_version: "v3.28.0"

metallb_enabled: false
metallb_address_pool:
  - "10.0.0.240-10.0.0.250"

ingress_nginx_enabled: false
