---
apiVersion: audit.k8s.io/v1
kind: Policy
omitStages:
  - RequestReceived
rules:
  - level: Metadata
    resources:
      - group: ""
        resources:
          - secrets
          - configmaps
  - level: RequestResponse
    verbs:
      - create
      - update
      - patch
      - delete
    resources:
      - group: ""
        resources:
          - pods
          - services
          - serviceaccounts
      - group: apps
        resources:
          - deployments
          - daemonsets
          - statefulsets
      - group: rbac.authorization.k8s.io
        resources:
          - roles
          - rolebindings
          - clusterroles
          - clusterrolebindings
  - level: Metadata
    resources:
      - group: ""
        resources:
          - namespaces
          - nodes
  - level: None
